*{
  margin: 0;
  padding: O;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost/Jost-VariableFont_wght.ttf');
  font-weight: 0 1000;
  font-display: swap;
}
@font-face {
  font-family: 'Neuton';
  src: url('./assets/fonts/Neuton/Neuton-Regular.ttf');
} 
.d-flex{
  display: flex;
}
ul{
  list-style: none;
  justify-content: space-evenly;
  align-items:center;
  height: 100%;
  width: 60%;
  margin-left: 12rem;
}
a{
  text-decoration: none;
  color: black;
}
html{
  font-family: 'Jost';
} 
.home-demo{
  height: 70vh;
  width: 100%;
  border: solid 1px red;
}
.item {
  border: solid purple 1px;
  height: 70vh;
  width: 100%;
}
.item h2 {
  color: #FFF;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
}
.item p{
color: #FFF;
text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
}
/*.home-demo a{
text-decoration: none;
color: #FFF;
  padding: 1rem 40rem;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
}*/
.item a {
  border: solid blue 1px;
  background-position: center;
  background-size: cover;  
  display: block;
  width: 100%;
  height: auto;
  padding-top: 18.33%; /** HEIGHT : WIDTH x 100 **/
}
.item a.one {
  background-image: url('assets/img/uneautrehist/MaraDeSario1915_crop.jpeg');
}
.item a.two {
  background-image: url('assets/img/uneautrehist/MaraDeSario2020_crop.jpeg');
}